body {
  background-color: rgb(243, 236, 236);
}

.float-container {
  padding: 20px;
}

.general_look-container {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

.card-container {
  width: 40%;
  float: right;
  padding: 20px;
  border: 2px solid red;
}

.footer {
position:fixed;
left: 0;
bottom: 0;
width: 100%;
}
